body {
    background-color: #171717;
    color: #EDEDED;
    /* color: #ED718F; */
    height: 2000px;
    /* font-family: "Bitcount Ink", system-ui;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0; */
}

hr {
    background-color: rgb(86, 76, 76) ;
    height: 1px;
    width: 60%;
}

#profile-section {
    /* border: 2px solid #EDEDED; */
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: space-between;

}

section {
    /* border: 2px solid #008000; */

}

#section1 {
    display: flex;
    flex-direction: column;
    width: 25%;

}

#player-profile {
    display: flex;
    width: 100%;
    height:50px;
    align-items: center;
    justify-content: space-around;
    /* background-color: rgba(6, 221, 6, 0.633); */
}

#player-energy {
    display: flex;
    flex-direction: column;

}

#player-energy-icon {
    display: flex;
    align-items: center;
    
}

.daily-energy-status-bar-container {
    background-color: rgba(49, 46, 46, 0.492);
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    
}

.icon-container{
    display: flex;
    align-items: center;
    
}

.individual-progress-bar {
    width: 30px;
    height: 10px;
    border: 1px solid white;
    background-color: green;
}

.progress-bar-container {
    display: flex;
}

#ranking {
    color: yellow;
}

/* PLAYER STATS SECTION */

.player-stats-progess {
    
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.player-stats-progress-bar {
    width: 50%;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    
}

.player-stats-progress-bar-icon {
    display: flex;
}

.player-stats-progress-bar-icon img {
    width: 25px;
}

#section2 {
    width: 50%;
}


.scenarios{
    width: 100%;
    height: 150px;
    border: 2px solid green;
}

#section3 {
    width: 25%;
}


.action-ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px dotted white;
}
.action-ticket p {
    font-family:'Courier New', Courier, monospace;
}
